{% extends 'base.html' %}

{% block sidebar %}
{% endblock %}

{% block topbar %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an account on Agora now</h1>
                                </div>
                                <form name="login" class="user" action="" method="post">
                                    {{ form.hidden_tag() }}

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.firstname(class="form-control form-control-user", placeholder="First Name") }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form.lastname(class="form-control form-control-user", placeholder="Last Name") }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        {{ form.company(class="form-control form-control-user", placeholder="Company") }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.mail(class="form-control form-control-user", placeholder="Email") }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.mobile(class="form-control form-control-user", placeholder="Mobile") }}
                                    </div>

                                    <div class="form-group">
                                        {{ form.username(class="form-control form-control-user", placeholder="Username") }}
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            {{ form.password(class="form-control form-control-user", placeholder="Password") }}
                                        </div>
                                        <div class="col-sm-6">
                                            {{ form.password2(class="form-control form-control-user", placeholder="Repeat Password") }}
                                        </div>
                                    </div>

                                    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                </form>

                                <hr>
                                <a href="{{ url_for('home.index') }}" class="btn btn-secondary btn-user btn-block" style="border-radius:10rem" role="button" aria-pressed="true">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}